*.tlog

*.idb

*.opendb

*.VC.db

x64/

*.db

*.suo

*.txt

*.ini

*.rej

*.lastbuildstate

*.obj

*.log

*.pdb

*.exe

*.iobj

*.ipdb

*.lib

*.ilk

*.cache

*.enc

*.user

*.png

*.jpg


*.wav

*.res

*.aps